matplotlib>=3.5.2
pandas>=1.4.4
tqdm>=4.62.3
numpy>=1.22.4
scipy>=1.7.3
jinja2>=3.1.2
seaborn>=0.11.2
pypdf2>=2.10.9
svglib>=1.4.1
reportlab>=3.5.67
openpyxl>=3.1.2
setuptools>=67.8.0
requests>=2.29.0
chardet>=4.0.0
