/*:root > * {*/
    /*--md-primary-fg-color: #9511a1;*/
    /*--md-primary-fg-color: #f68f43;*/
    /*--md-primary-fg-color: #d95969;*/
    /*--md-primary-fg-color: #7b68bd;*/
    /*--md-primary-fg-color: #49029f;*/
    /*--md-primary-fg-color: #a465ca;*/
    /*--md-primary-fg-color: #250591;*/
    /*--md-primary-fg-color: #6800a7;*/
    /*--md-accent-fg-color: #5901a4;*/
/*    --md-accent-fg-color: #f68f43;*/
/*    --md-code-hl-string-color: #0c0786;*/
/*}*/

.md-typeset h1 {
    font-weight: 600;
}

.md-typeset h2 {
    font-size: 1.25em;
}

.md-typeset tbody {
    font-size: 1.2em;
}

.md-typeset thead {
    font-size: 1.2em;
}

.md-header__topic:first-child {
    font-weight: 500;
}


.md-grid {
  max-width: 1440px;
}
